html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;

}

section{
    width: 90%;
    margin: auto;
    margin-top: 10rem;
}
section h2{
    color: rgb(9, 148, 148);
}
.head1{
    text-align: center;
    color: white;
    background-color: red;
}
.logo{
    height: 4rem;
    width: 4rem;
    margin-left: 8.5rem;
    margin-top: 2rem;
    align-items: center !important;
    justify-content: center !important;
    border: 0.05rem solid black !important;
    border-radius: 50%;
}
.sidenav{
    background: cyan !important;
    
}
.sidenav a{
    font-size: large !important;
    font-weight: bold !important;
    color: rgb(161, 84, 84) !important;
    text-shadow: 0 0.2rem 0 rgba(0, 0, 0, 0.3);
    text-align: center;
    justify-content: center;
}
.aboutimg{
    box-shadow: 0 0 4rem 0 rgba(0, 0, 0, 0.6);
    margin-top: 2rem;
    
}
.carimg{
    width: 100% !important;
    height: 100vh !important;
}
.cardimg:hover{
    box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.3);
    transform: translateY(-0.4rem);
    transition: 0.5s;
}
.waves-effect{
    margin-top: 2rem;
}
.fixed-action-btn{
    margin-right: 2rem;
    margin-bottom: 4rem !important;
}
.para1{
    
    font-size: 1.2rem;
    padding: 1rem 3rem !important;
   
}
h4{
    font-style: italic;
    text-decoration: underline;
}
.galleryimg{
    margin: 1rem!important;
    
}
.galleryimg:hover{
    box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.8) !important;
    transform: translateY(-0.4rem) !important;
    transition: 0.5s !important;
}
.materialboxed{
    transition: 1s;
}
.collapsible{
    margin: auto !important;
    margin-bottom: 5rem !important;
}
.signhead{
    margin: auto !important;
}
#myBtn{
    /* display: none; */
    scroll-behavior: smooth;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    border: none;
    color: white;
    background: #00abff;
    padding: 0.8rem;
    border-radius: 0.8rem;

}
#myBtn:hover{
    background: #606060;
}
.Copyright {
    display: flex;
    text-align: center;
    justify-content: center;
    letter-spacing: 4px;
    word-spacing: 8px;
}

.ULinks{
    color: white;
}

.ULinks:hover{
    color: rgb(2, 119, 103) !important;
    font-weight: bold;
    transition: 0.2s;
}
.TLink{
    color: white;
}

.TLink:hover{
    color: rgb(216, 116, 1) !important;
    font-weight: 400;
    transition: 0.2s;
}